h1{
    color: red;
}

p{
    color: blue;
}

body{
    background-color: #121212;
    color: #f0f0f0;
}

.card_01{
    background-color: #2a2929;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-left: 5px #545151 solid;
}